In [ ]:
integers = [1,2,3,4]
integers

[1, 2, 3, 4]

In [34]:
stringList = ["Milk", "Cheese", "Butter"]
stringList

['Milk', 'Cheese', 'Butter']

In [35]:
mixedList = [1, 1.5, "Leon"]
mixedList

[1, 1.5, 'Leon']

In [36]:
nestedList = [1, 2, 3, 4, [1.5, 1.6], ["Jie Wei"]]
nestedList

[1, 2, 3, 4, [1.5, 1.6], ['Jie Wei']]

In [37]:
emptyList = []
emptyList

[]

#### Accessing/Traversing the List

In [ ]:
shoppingList = ["Milk", "Cheese", "Butter"]

shoppingList[1]

'Cheese'

In [39]:
# 'in' operator
"Milk" in shoppingList

True

In [40]:
# Traversing through a list
for i in shoppingList:
    print(i)

Milk
Cheese
Butter

In [41]:
for i in range(len(shoppingList)):
    shoppingList[i] = shoppingList[i] + "+"
    print(shoppingList[i])

Milk+
Cheese+
Butter+

In [42]:
empty = []
for i in empty: 
    print("I am empty")

#### Update / Insert - List

In [43]:
myList = [1,2,3,4,5,6,7]
myList

[1, 2, 3, 4, 5, 6, 7]

In [44]:
# Update a list (Time Complexity: O(1), Space Complexity: O(1))
# Access then assign
myList[2] = 33
myList

[1, 2, 33, 4, 5, 6, 7]

In [45]:
myList = [1,2,3,4,5,6,7]
myList

[1, 2, 3, 4, 5, 6, 7]

In [46]:
# insert() method, insert to 0 index [Time complexity: O(n)]
myList.insert(0, 11)
myList

[11, 1, 2, 3, 4, 5, 6, 7]

In [47]:
# append() method, added at the end [Time complexity: O(1)]
myList.append(55)
myList

[11, 1, 2, 3, 4, 5, 6, 7, 55]

In [48]:
# extend() method, add another list to the current list [Time complexity: O(n)]
# loops through the new list and adds the elements 1 by 1 to the current list.
newList = [11,12,13,14]
myList.extend(newList)
myList

[11, 1, 2, 3, 4, 5, 6, 7, 55, 11, 12, 13, 14]

#### Slice / Delete from a List

In [49]:
myList = ["a","b","c","d","e","f"]
myList[0:2]

['a', 'b']

In [50]:
myList[1:]

['b', 'c', 'd', 'e', 'f']

In [51]:
myList[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [52]:
# Update multiple elements
myList[0:2] = ["x", "y"]
myList

['x', 'y', 'c', 'd', 'e', 'f']

Deletion

In [53]:
myList = ["a","b","c","d","e","f"]

In [54]:
# pop() method [Time complexity: O(n) / O(1), Space Complexity: O(1)]
myList.pop(1)
myList

['a', 'c', 'd', 'e', 'f']

In [55]:
# delete() method [Time complexity: O(n), Space Complexity: O(1)]
del myList[1]
myList

['a', 'd', 'e', 'f']

In [56]:
# remove() method [Time complexity: O(1), Space Complexity: O(1)]
myList.remove("e")
myList

['a', 'd', 'f']

#### Searching for an element in the List

In [57]:
myList = [10, 20, 30, 40, 50, 60, 70 , 80, 90]

In [61]:
# "in" operator [Time complexity: O(n) checks for all elements one by one]
if 20 in myList:
    print(myList.index(20))
else:
    print("The value does not exist in the list.")

1

In [63]:
# Linear search [Time complexity: O(n) because there is a for loop, space complexity is O(1)]
def searchInList(list, value):
    for i in list:
        if i == value: 
            return list.index(value)
    return "The value does not exist in the list"

searchInList(myList, 50)

4

#### List Operations / Functions

In [64]:
a = [1,2,3]
b = [4,5,6]

In [65]:
# "+" operator : concatenate Lists
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [66]:
# "*" operator : repeat the elements
a = [0]
a = a * 4
a

[0, 0, 0, 0]

In [67]:
b = [0, 1]
b = b * 4
b

[0, 1, 0, 1, 0, 1, 0, 1]

In [69]:
a = [0,1,2,3,4,5,6]
len(a)

7

In [73]:
# max() returns the item with the highest value in the List
a = [4, 12, 324, 123]
max(a)

324

In [74]:
# min() returns the item with the lowest value in the list
min(a)

4

In [75]:
# sum() returns the sum of all items in the List
sum(a)

463

In [76]:
# can find average
sum(a) / len(a)

115.75

In [79]:
# Convert this using list operators and functions
total = 0
count = 0

while True:
    userInput = input("Enter a number: ")
    if userInput.lower() == "done": 
        break
    
    value = float(userInput)
    total += value
    count += 1
    average = total / count
    
average

Enter a number: 2
Enter a number: 3
Enter a number: 5
Enter a number: 2
Enter a number: 4
Enter a number: 9
Enter a number: done

4.166666666666667

In [80]:
emptyList = []   # or list() for empty list 
while True:
    userInput = input("Enter a number: ")
    if userInput.lower() == "done":
        break
        
    value = float(userInput)
    emptyList.append(value)
average = sum(emptyList) / len(emptyList)

average

Enter a number: 3
Enter a number: 2
Enter a number: 5
Enter a number: 2
Enter a number: 4
Enter a number: 9
Enter a number: done

4.166666666666667

#### Strings and Lists

In [82]:
a = "spam"
b = list(a)
b

['s', 'p', 'a', 'm']

In [83]:
a = "spam spam spam"
a.split(" ")    # or a.split()

['spam', 'spam', 'spam']

In [84]:
a = "spam-spam1-spam2"
a.split("-")

['spam', 'spam1', 'spam2']

In [87]:
# join() function
a = "spam-spam1-spam2"
delimiter = "a"
b = a.split(delimiter)
b

['sp', 'm-sp', 'm1-sp', 'm2']

In [90]:
delimiter = "a"
delimiter.join(b)

'spam-spam1-spam2'

#### Common List Pitfalls and common ways to avoid them

In [91]:
# returns None when you reassign
myList = [2,4,3,1,5,7]
myList = myList.sort()
myList

In [100]:
myList = [2,4,3,1,5,7]
myList.sort()
myList # however this affects the original list

[1, 2, 3, 4, 5, 7]

In [101]:
myList = [2,4,3,1,5,7]
orig = myList[:]
myList.sort()
print("Original List", orig)
print("Sorted List", myList)

Original List [2, 4, 3, 1, 5, 7]
Sorted List [1, 2, 3, 4, 5, 7]

append()

In [93]:
myList = [2,4,3,1,5,7]
myList.append(10)
myList

[2, 4, 3, 1, 5, 7, 10]

In [99]:
myList = [2,4,3,1,5,7]
myList += [10]
myList

[2, 4, 3, 1, 5, 7, 10]

### Arrays vs List
Similarities:
- Both data structures are mutable.
- Both can be indexed and iterated through.
- They can both be sliced.

In [102]:
import numpy as np
myArray = np.array([1,2,3,4,5,6])
myList = [1,2,3,4,5,6]

In [103]:
# Can perform arithmetic operations on arrays
myArray/2

array([0.5, 1. , 1.5, 2. , 2.5, 3. ])

In [105]:
# error
# myList/2

In [106]:
# Array must have same data type element
myArray = np.array([1,2,3,4,5,6,'a'])
myArray    # converted everthing to string

array(['1', '2', '3', '4', '5', '6', 'a'], dtype='<U11')

In [107]:
myList = [1,2,3,4,5,6, "a"]
myList

[1, 2, 3, 4, 5, 6, 'a']